@font-face {
  font-family: 'LibreFranklin';
  src: url('./fonts/LibreFranklin-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: 'LibreFranklin';
  font-size: 1.2rem;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, minmax(100px, 1fr));
  grid-template-rows: repeat(12, minmax(50px, 1fr)); 
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hello {
  color: red;
}

.nav-bar {
  background-color: green;
  grid-column: 1 / span 12;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2%;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav-links li {
  padding: 0 5%;
  white-space: nowrap;
}

.app-logo {
  width: 45px;
  max-width: 45px;
}

.side-bar {
  grid-column: 1 / span 2;
  grid-row: 2 / span 11;
  display: flex;
  flex-direction: column;
  background-color: #A3A3A3;
  border-left: 2px solid #000;
}

/*test css for sample project card*/
.main-content-area {
grid-column: 4 / span 2;
grid-row: 3 / span 3;
background-color: #f1f1f1;
border: 3px solid #f1f1f1;
border-radius: 25px;
padding: 5%;
}

/*basic form positioning for testing inputs and stuff*/

.form-wrapper {
    grid-column: 8 / span 4;
    grid-row: 3 / span 6;
}

.task-input-body {
    display: flex;
    flex-direction: column;
}

